.d1 {
    text-align: center;
}
.header{
    text-align: center;
    width: 800px;
    height: 100px;
    margin: 0 auto;
    background-image: url("/images/header.jpg");
    position: relative;
}
.header span{
    position: absolute;
    width:100px;
    height: 50px;
    top:50%;
    left:50%;
    margin-left:-50px;
    margin-top:-25px;
    text-align: center;
    color: aqua;
    font-size: x-large;
}
.btn1{
    margin-top: 10px;
    margin: 0 auto;
    width: 800px;
}
.btn2 {
    margin-top: 10px;
    margin: 0 auto;
    width: 800px;
}

input{
    background-color: aqua;
    margin-left: 10px;
}

#recycleBin {
    background-color: white;
    float: right;
}