.photo {
    width: 18.8%;
    height: 150px;
    float: left;
    text-align: center;
    margin: 4px;
    border: 1px solid skyblue;
    position: relative;
}

.photo img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.photo input{
    top: 1px;
    right: 1px;
    visibility: hidden;
    position: absolute;
    z-index: 1;
}