body{
    min-width: 1088px;
}
h1{
    text-align: center;
}

.menu-button a{
    margin-left: 5px;
}
.menu-button input{
    float: right;
    margin-right: 5px;
}


#photoArea{
    width: 100%;
    height: 300px;
}
#photoArea .photo {
    width: 18.8%;
    height: 150px;
    float: left;
    margin: 4px auto;
    margin-left: 1%;
    border: 1px solid deepskyblue;
    min-width: 200px;
}

#photoArea .photo .container {
    background-size: contain;
    background-position: center center;
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

#photoArea .photo input {
    float: right;
    position: relative;
    z-index: 1;
    top: -149px;
}

.fenye{
    width: 100%;
    text-align: center;
}

