
.photo {
    height: 150px;
    float: left;
    margin: 2px;
}

.photo .container {
    background-size: contain;
    background-position: center center;
    width: 120px;
    height: 150px;
    background-repeat: no-repeat;
}

.photo input {
    float: right;
    position: relative;
    bottom: 19px;
    z-index: 1;
}

#photoArea {
    width: 100%;
    display: inline-block;
}
.fenye {
    width: 100%;
}