<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yundaxue.workshop.acq.photoDao.dao.PhotoMapper">
    <select id="getPhoto" resultType="org.yundaxue.workshop.acq.photoDao.bo.PhotoDao" parameterType="int">
        select * from photoDao where photo_id=#{photoId}
    </select>

    <select id="listPhoto" resultType="org.yundaxue.workshop.acq.photoDao.bo.PhotoDao" parameterType="int">
    select * from photoDao where user_id=#{userId}
    </select>

    <insert id="insertPhoto">
        insert into photoDao (photo_id,photo_name,user_id)
        values(#{photoId},#{photoName},#{userId})
    </insert>
</mapper>