<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yundaxue.workshop.acq.photo.dao.PhotoDao">
    <select id="getPhoto" resultType="org.yundaxue.workshop.acq.photo.bo.Photo" parameterType="int">
        select * from photo where photo_id=#{photoId}
    </select>

    <select id="listPhoto" resultType="org.yundaxue.workshop.acq.photo.bo.Photo" parameterType="int">
    select * from photo where user_id=#{userId}
    </select>

    <insert id="uploadPhoto">
        insert into photo (photo_id,photo_name,user_id)
        values(#{photoId},#{type},#{size},#{uploadTime},#{userId},#{photoPath},#{thumbnaiPath},#{delState},#{description},#{thumb},#{MD5},#{delTime},#{banState})
    </insert>

    <update id="updateDelStateDeletePhoto">
        update photo
        set delState = 0
        where photo_id=#{photoId}
    </update>

    <update id="updateDelStateRestorePhoto">
        update photo
        set delState = 1
        where photo_id=#{photoId}
    </update>

    <update id="updateBanStateBanPhoto">
        update photo
        set banState = 0
        where photo_id=#{photoId}
    </update>

    <delete id="deletePhoto">

    </delete>
</mapper>